<div id="gallery">
  <div id="slider">
    <figure>
      <img src="<%=asset_path('The-Big-Short-600x936.jpg')%>">
      <img src="<%=asset_path('In-the-Heart-of-the-Sea-Poster.jpg')%>">
      <img src="<%=asset_path('The-Lady-in-the-Van-new-poster.jpg')%>">
      <img src="<%=asset_path('the-good-dinosaur.jpg')%>">
      <img src="<%=asset_path('legend-poster-guardian.jpg')%>">
    </figure>
  </div>
</div>

<div id="home-headers">
  <h2>A conversation about film. A celebration of the critic.</h2>
  <h4>Learn about our trusted critics and network of users <%= link_to 'HERE', users_path %></h4>
  <h4>CLICK on a movie title to read reviews</h4>
</div>

<div id ="index_movie_grid">
  <% @movies.each do |movie| %>
    <div id="index_movie">
      <li><div style=background-image:url(/assets/big-star.png);width:81px;height:81px;margin-top:10px;position:relative;><p style=position:relative;line-height:85px;text-align:center;> <%= movie.average_ratingz(true) %></p></div></li>
                                  <!-- asset_path('big-star.png') -->
     <li><%= link_to "#{movie.title}", movie_path(movie) %> <span id="release_date"><%= movie.release_date.strftime("(%Y)") %></span></li>
   </div>
  <% end %>
</div>
