<ul>
  <h1><%= @movie.title %></h1>
  <li><h3>Synopsis: </h3><%= @movie.synopsis %></li>
  <li><h3>Release date: </h3><%= @movie.release_date.strftime("%d %b. %Y") %></li>

  <% if @movie.reviews.length == 0 %>
    <p>No reviews yet</p>
  <% else %>

  <div style=background-image:url(/assets/big-star.png);width:81px;height:81px;margin-top:10px;><p style=position:relative;line-height:85px;text-align:center;> <%= @movie.average_ratingz(true) %></p></div>


    <% if @movie.critic_reviews.length > 0 %>
    <li><h3>Critic Reviews: </h3><% @movie.critic_reviews.each do |review| %></li>
      <ul>
        <li><h4><%= link_to "#{review.title}", movie_review_path(@movie, review) %></h4></li>
        <li><%= review.content.truncate(75, separator: ' ') %></li>
        <li><%= link_to "#{review.user.username}", user_path(review.user) %></li>
      </ul>
      <% end %>
    <% end %>
    <% if @movie.user_reviews.length > 0 %>
       <div style=background-image:url(/assets/big-star.png);width:81px;height:81px;margin-top:10px;><p style=position:relative;line-height:85px;text-align:center;> <%= @movie.average_ratingz(false) %></p></div>
      <li><h3>User Reviews: </h3><% @movie.user_reviews.each do |review| %></li>
        <ul>
          <li><h4><%= link_to "#{review.title}", movie_review_path(@movie, review) %></h4></li>
          <li><%= review.content.truncate(75, separator: ' ') %></li>
        </ul>
      <% end %>
    <% end %>
  <% end %>

</ul>

