<%= form_for [@movie, @review] do |f| %>
  <% if current_user.critic == true %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true %>
    </div>
  <% end %>
  <!-- else the rest shows for everyone -->
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, autofocus: true %>
  </div>

  <div class="field">
    Rate The Movie: <%= rating_for @movie, "overall", :enable_half => true %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>
