<h1>Review Show Page!</h1>

<ul>
  <h2><%= @review.title %> <%= @review.movie_rating %> Stars</h2>
  <li><p><%= @review.content %></p></li>
</ul>

<h4>Comments</h4>

<ul>
  <% @comments.each do |comment| %>
      <li><%= comment.content %></li>
      <li><%= link_to "#{comment.user.username}", user_path(comment.user) %></li>
  <% end %>
</ul>

<%= link_to  %>
