<h1><%= @movie.title %></h1>

<ul>
  <div style=background-image:url(<%=asset_path('big-star.png')%>);width:81px;height:81px;margin-top:10px;><p style=position:relative;line-height:85px;text-align:center;> <%= @movie.return_rating_for_review(@review.user) %></p></div>
  <h2><%= @review.title %></h2>
  <li><p>Review by: <%= link_to "#{@review.user.username}", user_path("#{@review.user.id}") %></p></li>
  <li><p><%= @review.content %></p></li>
</ul>

<h4>Comments</h4>

<ul>
  <% @comments.each do |comment| %>
      <li><%= comment.content %></li>
      <li><%= link_to "#{comment.user.username}", user_path(comment.user) %></li>
      <% if current_user == @review.user %>
        <li><%= link_to 'Delete Comment', movie_review_comment_path(@review.movie_id, @review.id, comment.id), method: :delete %></li>
      <% end %>
  <% end %>
</ul>
<p></p>
<% if user_signed_in? %>
  <%= button_to "Add Comment", new_movie_review_comment_path(review_id: @review.id), :method => "get" %>
<% end %>
